* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.img-1 {
  background-image: url(./road.jpg);
}
.img-2 {
  background-image: url(./light.jpg);
}
.img-3 {
  background-image: url(./city.jpg);
}
.height-header {
  min-height: 95%;
}
.height-footer {
  min-height: 100%;
}
.height-s2 {
  min-height: 50%;
  display: flex;
  align-items: center;
}
.background-decor {
  opacity: 0.86;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
}
.box-posi {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;

  width: 45rem;

  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  border-radius: 9px;
}
.box-posi-background {
  background-color: #1b2024;
}
.web-cont {
  text-transform: uppercase;

  width: 85rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
  justify-content: space-between;

  padding: 1.8rem;
  /* background-color: #282e3434; */
}
.webname {
  font-size: 2.4rem;
  font-weight: bold;
  color: #111;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a {
  width: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  color: #111;
  font-weight: bold;
  transition: all 2s;

  border-radius: 8px;
}
h2 {
  text-align: center;
  font-size: 5.2rem;
  color: #fff;
  font-weight: bold;
}
.post {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.profile-div {
  background-color: #dfdfdf;
  height: 24rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%);
}
.profile {
  width: 20rem;
  border-radius: 50%;
}
.section-1 {
  background-color: #dfdfdf;
  padding: 12rem 0 3rem 0;
}
.section-1 h1 {
  width: 85rem;
  font-size: 3.2rem;
  margin: 0 auto;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.section-1 p {
  width: 85rem;
  font-size: 2.4rem;
  margin: 0 auto;
}
.education-section {
  padding: 3rem;
}
.education {
  width: 85rem;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  justify-content: space-around;
  gap: 2rem;
}
.icon--box {
  margin-left: 55%;
  transform: translate(-50%);
  margin-bottom: 1rem;
}
.svg--icon {
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  width: 30px;
  height: 30px;
  color: red;
}
.education > div {
  background-color: #0000ff1b;
  padding: 1rem;
  /* border: 2px solid blue; */
  border-radius: 9px;
  box-shadow: 0 0 2px 0 black;
}
ul {
  margin-left: 3rem;
}
li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.blog-link:link,
.blog-link:visited {
  font-size: 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.blog-link:hover,
.blog-link:active {
  color: #24110b;
  border: 1px solid #fff;
}
.section-3 {
  background-color: #282e34;
  padding: 4rem 0 2rem 0;
}
.section-3 h2 {
  width: 85rem;
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #dfdfdf;

  margin: 0 auto;
  margin-bottom: 4rem;
}
.section-3 p {
  width: 85rem;
  font-size: 2.2rem;

  margin: 0 auto;
  padding-bottom: 1.5rem;
  color: #dfdfdf;
}

.icon {
  width: 5rem;
  height: 5rem;
  color: #000;
  margin-right: 4rem;
}
.sec-project {
  padding: 6rem 0;
}
.js--projects {
  width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  justify-content: center;
  gap: 2rem;
  color: #ddd;
}
.js--projects div {
  padding: 2rem;
  /* border: 2px solid blue; */
  border-radius: 9px;
  box-shadow: 0 0 2px 0 black;
  background-color: #18914a95;
}
.js--projects div h6 {
  color: #cf0808d4;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.js--projects div p {
  font-size: 1.6rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.js--projects div a {
  text-decoration: none;
  font-size: 1.6rem;

  /* position: absolute;
  top: 87%; */
  color: #ec8d39;
}
.seemore-cont {
  background-color: #a158186e !important;
  position: relative;
}
.seeMore {
  cursor: pointer;
  text-align: center;
  border-radius: 9px;
  background-color: #18914a95;
  padding: 1.2rem 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ff983e;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3px 0 black;
}

.contect-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header--option--2 {
  margin: 0 auto;
  max-width: 35rem;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.d--none {
  display: none;
}

@media (max-width: 880px) {
  .web-cont {
    width: 65rem;
    grid-template-columns: 1fr 1fr;
  }
  .webname {
    font-size: 2.2rem;
  }
  .box-posi {
    width: 35rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  .section-1 h1 {
    width: 65rem;
  }
  .section-1 p {
    width: 65rem;
  }
  .education {
    width: 60rem;
    grid-template-columns: repeat(3, 18rem);
  }
  .section-3 h2 {
    width: 65rem;
  }
  .section-3 P {
    width: 65rem;
  }
  .js--projects {
    width: 60rem;
    grid-template-columns: repeat(3, 18rem);
  }
  .js--projects div {
    height: 35rem;
  }
  .icon {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }
}
@media (max-width: 680px) {
  .web-cont {
    width: 45rem;
  }
  .webname {
    font-size: 2.2rem;
  }
  .box-posi {
    width: 30rem;
  }

  h2 {
    font-size: 3.6rem;
  }
  .section-1 h1 {
    width: 45rem;
    font-size: 2.6rem;
  }
  .section-1 p {
    width: 45rem;
    font-size: 2rem;
  }
  .education {
    width: 40rem;
    grid-template-columns: repeat(2, 17rem);
  }
  .education > div {
    height: 25rem;
  }
  .section-3 h2 {
    width: 45rem;
    font-size: 2.4rem;
  }
  .section-3 P {
    width: 45rem;
    font-size: 2rem;
  }
  .js--projects {
    width: 40rem;
    grid-template-columns: repeat(2, 19rem);
  }
  .js--projects div {
    height: 35rem;
  }
}
@media (max-width: 500px) {
  .web-cont {
    width: 25rem;
  }
  .box-posi {
    width: 24rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  .post {
    font-size: 1rem;
  }
  .profile-div {
    height: 15rem;
    width: 15rem;
    top: 90%;
  }
  .profile {
    width: 13rem;
    height: 13rem;
  }
  .section-1 {
    padding: 10rem 0 3rem 0;
  }
  .section-1 h1 {
    max-width: 25rem;
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
  }
  .section-1 p {
    width: 25rem;
    margin-bottom: 1rem;
  }
  .education {
    width: 22rem;
    grid-template-columns: repeat(1, 20rem);
  }
  .education > div {
    height: 22rem;
  }
  .section-3 h2 {
    width: 25rem;
    font-size: 2rem;
  }
  .section-3 P {
    width: 25rem;
    font-size: 1.8rem;
  }
  .js--projects {
    width: 24rem;
    grid-template-columns: repeat(1, 24rem);
  }
  .js--projects div {
    height: 26rem;
  }
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
  }
}
